.Nav_bar {
  width: 240px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

@media (max-width: 900px) {
  .Nav_bar {
    display: none; /* Oculta a barra fixa em telas pequenas */
  }

  .ConteudoDashboard {
    margin-left: 0; /* Remove a margem quando o menu é ocultado */
  }

  .Icone_menu {
    display: block;
  }

  .Botao_navbar {
    display: block;
  }

  .Botao_selecionado {
    display: block;
  }
}

@media (min-width: 901px) {
  .Nav_bar {
    position: fixed;
    width: 240px;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;
  }

  .ConteudoDashboard {
    margin-left: 240px;
  }
}

/* Botões com apenas ícones dentro do Drawer */
.Botao_navbar {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  padding-left: 16px;
  background-color: transparent;
  border: none;
  width: 100%;
  gap: 12px;
  transition: background 0.3s, color 0.3s;
  cursor: pointer;
  color: #272525;
  font-size: 14px;
  text-align: left;
}

.Botao_navbar img {
  width: 24px;
  height: 24px;
}

.Botao_navbar:hover {
  background-color: #f2f2f2;
  color: #0d6efd;
  font-weight: 600;
}

.Botao_selecionado {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 16px;
  width: 100%;
  border: none;
  background-color: #e6f0ff; /* Azul clarinho */
  color: #0d6efd;
  font-weight: 600;
  border-left: 4px solid #0d6efd;
  text-align: left;
}

/* Barra azul do botão */
.Barra_azul {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  height: 100%;
  background-color: #0d6efd;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: width 0.3s;
}

.Botao_navbar:hover .Barra_azul,
.Botao_selecionado .Barra_azul {
  width: 6px;
}

/* Ajustando o Drawer */
.MuiDrawer-paper {
  width: 250px;
  background-color: #fff;
}

.MuiDrawer-root {
  background-color: transparent;
}
.Nav_bar_mobile{
  display: flex;
  flex-direction: column;
}