.Imagem_card{ 

    display: flex;
    flex:1;
    height: 100vh;
    width: 50%;
    margin: 0;
    overflow-y: hidden;
    min-height: 450px;
}
.Imagem_container{
    display: flex;
    object-fit:cover;
    width: 100%;
    min-height: 764px;
    object-position: inherit;

}

@media (max-width: 900px) {
    .Imagem_card{
        display:none;
    }
}