.Redefinicao_card_redefinicao{
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.Redefinicao_container_redefinicao{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.Recuperacao-redefinir_container_redefinicao{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    height:auto;

    form{
        width: 100%;
        height: auto;
    }
    h1{    
    margin-top: 0px;
    margin-bottom: 10px;
    
    /* Heading / 2 */
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    
    color: #272525;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}
}


/*RESPONSIVIDADE*/

@media (max-width: 600px) {
    .Redefinicao_card_redefinicao{
        width: 100%;
    }
    
}
@media (max-width: 928px) {
    .Recuperacao-redefinir_container_redefinicao{
    h1{
        font-size: 20px;
    }
    }
}
@media (min-width: 1200px) {
    .Redefinicao_container_redefinicao{
        width: 70%;
    }
}

@media (min-width: 2001px){
    .Redefinicao_container_redefinicao{
        width: 60%;
    }
}

.Tela_toda_redefinicao {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: white;
    overflow-y: auto;
}
@media (max-width: 900px) {
    .Tela_toda_redefinicao {
        flex-direction: column;
        height: auto;
    }
    .Redefinicao_card_redefinicao {
        width: 100%;
    }
}

