.Recuperacao_card_esqueceu{
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.Recuperacao_container_esqueceu{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.Recuperacao-enviar_container_esqueceu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    height:auto;

    form{
        width: 100%;
        height: auto;
    }
    h1{    
    margin-top: 0px;
    margin-bottom: 10px;
    
    /* Heading / 2 */
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    
    color: #272525;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}
}



/*RESPONSIVIDADE*/

@media (max-width: 600px) {
    .Recuperacao_card_esqueceu{
        width: 100%;
    }
    .Recuperacao-enviar_container_esqueceu{ 
        h1{
            font-size: 20px;
        }
    }
}

@media (min-width: 1200px) {
    .Recuperacao_container_esqueceu{
        width: 70%;
    }
}
@media (min-width: 1700px) and (max-width: 2000px){
    .Recuperacao_container_esqueceu{
        width: 70%;
    }
}
@media (min-width: 2001px){
    .Recuperacao_container_esqueceu{
        width: 60%;
    }
}

.Tela_toda_esqueceu {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: white;
    overflow-y: auto;
}
@media (max-width: 900px) {
    .Tela_toda_esqueceu {
        flex-direction: column;
        height: auto;
    }
    .Recuperacao_card_esqueceu {
        width: 100%;
        margin-top: 150px;
    }
}

