.Login_card{
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.Login_container{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.Bemvindo-entrar_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    height:auto;

    form{
        width: 100%;
        height: auto;
    }
    h1{    
    margin-top: 0px;
    margin-bottom: 40px;
    
    /* Heading / 2 */
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    
    color: #272525;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

}

.Checkbox_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}

.Texto_checkbox{
    width: 97px;
    height: 24px;
    color: #515151;
}
/*className='Input_checkbox' removida: padrão do navegador*/

.Checkbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;
    width: 50%;
    order: 0; /*Sobrescevendo o .Checkbox_link_container*/
}

.Link_esqueci_senha{
    display: flex;
    flex-direction: row-reverse;
    width: 50%;
    background: linear-gradient(135deg, #14ADD6 0%, #384295 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
}

/* NOVO CÓDIGO */
.Tela_toda {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: white;
    overflow-y: auto;
}
@media (max-width: 900px) {
    .Tela_toda {
        flex-direction: column;
        height: auto;
    }
    .Login_card {
        width: 100%;
    }
}

/*RESPONSIVIDADE*/

@media (max-width: 600px) {
    .Login_card{
        width: 100%;
    }
    
}
@media (max-width: 928px) {
    .Bemvindo-entrar_container{
    h1{
        font-size: 20px;
    }
}
}
@media (min-width: 1200px) {
    .Login_container{
        width: 70%;
    }
}
@media (min-width: 1700px) and (max-width: 2000px){
    .Login_container{
        width: 70%;
    }
}
@media (min-width: 2001px){
    .Login_container{
        width: 60%;
    }
}

