body{
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito';
    overflow-x: hidden;
    overflow-y: auto;
}



.Textos_pequenos{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
}

.Tela_toda {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: white;
    overflow-y: auto;
}


@media (max-width: 900px) {
    .Tela_toda {
        flex-direction: column;
        height: auto;
    }
    .Login_card, .Recuperacao_card, .Redefinicao_card, .Verificacao_card, .Autenticacao_card {
        width: 100%;
    }
}

h2 {
    margin: 2px;
    color: #383838;
}
button{
    font-family: 'nunito';
}