body{
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito';
    overflow-x: hidden;
    overflow-y: auto;
}

.Textos_pequenos{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
}

.Tela_toda{
    display:flex;
    height: 100vh; /*100% da altura da tela visível.*/
    background-color: white;   
    overflow-y:auto; 
}

h2 {
    margin: 2px;
    color: #383838;
}
